<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | MikroMars</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>
    <nav class="l-nav">
        <input class="l-nav__checkbox" type="checkbox" id="nav-toggle" />
        <label class="l-nav__dugme" for="nav-toggle">
            <span class="l-nav__ikona"></span>
        </label>
        <a href="/Home/Index"><img src="~/Content/Images/logo/mm-logo-znak.png" class="l-Logo-header" /></a>
        <div class="l-nav__pozadina"></div>
        <nav class="l-nav__nav">
            <ul class="l-nav__lista">
                <li class="l-nav__stavke"><a class="l-nav__link" href="/Home/Index"><i class="fas fa-home"></i></a></li>
                <li class="l-nav__stavke"><a class="l-nav__link" href="/Home/Galerija">Portfolio</a></li>
                <li class="l-nav__stavke"><a class="l-nav__link" href="/Ponuda/Ponuda">Ponuda</a></li>
                <li class="l-nav__stavke"><a class="l-nav__link" href="/Home/ONama">O nama</a></li>
                <li class="l-nav__stavke"><a class="l-nav__link" href="/Home/Kontakt">Kontakt</a></li>

            </ul>
        </nav>
    </nav>
    @*<div class="navbar navbar-inverse navbar-fixed-top l-navbar-color">
            <div class="container">
                <div class="l-navbar">
                    <div class="l-navbar-left">
                        <a href="/Home/Index"><img src="~/Content/Images/logo/mm-logo-znak.png" class="l-Logo-header" /></a>
                    </div>
                   <div class="l-navbar-middle">
                       <div>
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                           </button>
                       </div>
                       <div class="navbar-collapse collapse">
                           <ul class="nav navbar-nav">
                               <li><a class="as" href="/Home/Galerija">Galerija</a></li>
                               <li><a class="as" href="/Ponuda/Ponuda">Ponuda</a></li>
                               <li><a class="as" href="/Home/ONama">O nama</a></li>
                               <li><a class="as" href="/Home/Kontakt">Kontakt</a></li>
                           </ul>
                           @Html.Partial("_LoginPartial")
                       </div>
                   </div>
                    <div class="l-navbar-right"></div>
                </div>
            </div>
        </div>*@
    <div style="overflow:hidden;">
        @RenderBody()
    </div>
    <footer class="l-custom-footer">
        <div class="container">
            <div class="row row-wrap">
                <div class="col-md-3 col-xs-12 l-custom-footer__levo">
                    <div class="ta-center">
                        <a href="/Home/Index">
                            <img class="l-Logo-footer" src="~/Content/Images/logo/mm-logo-negativ.png" height="30" alt="MikroMars" title="MikroMars Logo" /><br />
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p class="l-footer-ul">
                        <a href="/Home/Index"><i class="fas fa-home"></i></a> |
                        <a href="/Home/Galerija">Portfolio</a> |
                        <a href="/Ponuda/Ponuda">Ponuda</a> |
                        <a href="/Home/ONama">O nama</a> |
                        <a href="/Home/Kontakt">Kontakt</a>
                    </p><br />
                    <div class="ta-center l-margina-dole-srednja">
                        <a target="_blank" href="https://plus.google.com/u/0/111339589973950146486"><i class="fab fa-google-plus fa-2x l-soc-net"></i></a><a target="_blank" href="http://www.linkedin.com/company/mikromars/"><i class="fab fa-linkedin fa-2x l-soc-net"></i></a><a target="_blank" href="http://www.facebook.com"><i class="fab fa-facebook fa-2x l-soc-net"></i></a>
                    </div>
                </div>
                <div class="col-md-3 col col-xs-12">
                    <div class="ta-center">
                        <p><strong>Miloš Maričić</strong> - 060 58 55 553</p>
                        <p><strong>Mirko Lišanin</strong> - 064 19 20 582</p>
                        <p><a href="mailto:MikroMarsBg@gmail.com">MikroMarsBg@gmail.com</a></p>
                    </div>
                </div>
            </div>
            <hr style="color:gray;border:0.5px solid;" />
            <div class="row row-wrap">
                <div class="col-md-12 ta-center">
                    <p style="color:gray">MikroMars polaže sva prava na sajt i sve njegove delove.</p>
                </div>
            </div>
        </div>
        <div class="ta-center">
            <p>MikroMars &copy; @DateTime.Now.Year</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>